COMPOSE_PROJECT_NAME=bloggent
SERVICE_ENV_FILE=env/runtime.settings.env
API_PORT=7002
WEB_PORT=7001
POSTGRES_PORT=5432
POSTGRES_DATA_DIR=./.docker-data/postgres
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
REDIS_DATA_DIR=./.docker-data/redis
MINIO_DATA_DIR=./.docker-data/minio
MINIO_ROOT_USER=CHANGE_ME_MINIO_USER
MINIO_ROOT_PASSWORD=CHANGE_ME_MINIO_PASSWORD
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
API_STORAGE_DIR=./storage
SEED_DEMO_DATA=true
